body {
    background-color: powderblue;
  }
  h1 {
    color: blue;
  }
  h3 {
      color: coral;
  }
  p {
    border: 1px solid blueviolet;
    padding: 30px;
    border-width: 20px;
    color: red;
  }