<!DOCTYPE html>
<html>
  <head>
    <title>Sample HTML app</title>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <h1>Hello World!, welcome to page 1</h1>
    <ul>
      <li><a href="page2.html">continue to page2, table practice page</a></li>
      <li><a href="page3.html">continue to page3, list practice ordered,unordered</a></li>
      <li><a href="page4.html">continue to page4, links, images, design and beyond?</a></li>
    </ul> 
    <p>This is a paragrph for my CSS check AYE!</p>
  </body>

  <body>
    <h3> Second Body? Test </h3>
      <div>space</div>
      <div>this div is after second body test</div>
      <div>this is the second div in second body</div>
  </body>
  <body>
    <h5> Images section </h5>
    <img src = "https://images4.alphacoders.com/640/640956.jpg" style="width:500px;height:400px;">
  </body>

  <body>
    <a href = "https://www.wsj.com/">Go Get Your News Fool</a>
  </body>
</html>
